{% extends "layout.html" %} {% block body %}

<form action="/references/new" method="post">
  <label>
    <input type="radio" name="reference_type" value="articles" checked />
    Article
  </label>
  <label>
    <input type="radio" name="reference_type" value="books" />
    Book
  </label>
  <label>
    <input type="radio" name="reference_type" value="inproceedings" />
    In Proceeding
  </label>
  <label>
    <input type="radio" name="reference_type" value="booklets" />
    Booklet
  </label>
  <label>
    <input type="radio" name="reference_type" value="conferences" />
    Conference
  </label>
  <label>
    <input type="radio" name="reference_type" value="inbooks" />
    Inbook
  </label>
  <label>
    <input type="radio" name="reference_type" value="incollections" />
    Incollection
  </label>
  <label>
    <input type="radio" name="reference_type" value="manuals" />
    Manual
  </label>
  <label>
    <input type="radio" name="reference_type" value="mastertheseses" />
    Masterthesis
  </label>
  <label>
    <input type="radio" name="reference_type" value="phdheseses" />
    PhDthesis
  </label>
  <label>
    <input type="radio" name="reference_type" value="proceedings" />
    Proceeding
  </label>
  <label>
    <input type="radio" name="reference_type" value="techreports" />
    Techreport
  </label>
  <label>
    <input type="radio" name="reference_type" value="unpublisheds" />
    Unpublished
  </label>
  <button type="submit">Submit</button>
</form>

{% endblock %}
